<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ViewChanger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ViewChanger.Properties.Settings>
            <setting name="playerName" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="imagePath" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="labelContent" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="typedLetters" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="wins" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="losses" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="time" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="category" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="message" serializeAs="String">
                <value>""</value>
            </setting>
        </ViewChanger.Properties.Settings>
    </userSettings>
</configuration>